@import "tailwindcss";


html, body {
  margin: 0;
  padding: 0;
  font-family: 'SUSE', sans-serif;
  color: #fffaee;
  color-scheme: dark;
}

@layer utilities {
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }    
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%)
    }
    100% {
      transform: translateX(250%)
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s infinite ;
  }

  .animate-blink{
    animation: blink 0.8s step-end infinite ;
  }

  @keyframes bg {
    0% {
      transform: rotate(0) translateY(20%) rotate(0);
      filter: hue-rotate(0);
    }
    100% {
      transform: rotate(360deg) translateY(20%) rotate(-360deg);
      filter: hue-rotate(360deg);
    }
  }

  .animate-bg {
    animation: bg 20s linear infinite;
  }



}
